<md-content layout="row" flex="100" layout-fill>
	<div flex="80" layout="column">
        <md-toolbar>
        </md-toolbar>
			<pt-wistia-upload api-password="73766d4d93f54f8fe07ae0c045668bd3468a727f5e17f5013324ccc539f7353c"
			uploaded-videos="uploadedVideos" layout="row" layout-align="center center" flex="100">
			</pt-wistia-upload>
	</div>
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="true" md-component-id="left">
        <md-toolbar>
        </md-toolbar>
        <md-toolbar>
            <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
    	<md-content layout-padding>
    		<md-list>
				<md-list-item class="md-3-line" ng-repeat="item in uploadedVideos" ng-click="showVideo(item)">
					<img ng-src="{{item.thumbnail.url}}" class="md-avatar" />
					<div class="md-list-item-text" layout="column">
						<h3>{{ item.name }}</h3>
					</div>
				</md-list-item>
				<md-list-item class="md-3-line" ng-if="uploadedVideos.length == 0" >
					No videos uploaded yet!
				</md-list-item>
			</md-list>
    	</md-content>
    </md-sidenav>
</md-content>
