<md-card flex="25">
	<img ngf-drop="uploadFiles($files)" ng-src="{{uploadedImage}}"  ngf-select="uploadFiles($files)" class="md-card-image cursor-pointer">
	<md-card-actions layout="row" layout-align="end center">
		<md-progress-linear class="position-absolute-bottom-right-corner md-accent" md-mode="determinate" value="{{progress}}"></md-progress-linear>
	</md-card-actions>
</md-card>

