<md-dialog flex="65">
	<md-toolbar>
		Your video
	</md-toolbar>
	<md-dialog-content layout layout-align="center center">
	<iframe src="{{url}}" height="400px" width="800px">
		</iframe>
	</md-dialog-content>
</md-dialog>
